<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ Дашборд</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/p_admin/stats.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <a href="/admin" class="back-btn"
        ><i class="fas fa-arrow-left" style="color: white"></i> Назад</a
      >
    <h1>Дашборд администратора</h1>
</header>

<section class="stats-overview">
    <div class="stat-card">
        <h3>Активных залов</h3>
        <p id="approvedHalls"> - </p>
    </div>
    <div class="stat-card">
        <h3>Проведённых мероприятий</h3>
        <p id="confirmedBookings"> - </p>
    </div>
    <div class="stat-card">
        <h3>Клиентов</h3>
        <p id="clientsCount"> - </p>
    </div>
    <div class="stat-card">
        <h3>Оплачено (BYN)</h3>
        <p id="totalRevenue"> - </p>
    </div>
    <section class="reports-link">
<a href="/admin/reports" class="btn-view-reports">
  <i class="fa-solid fa-chart-line"></i> Посмотреть отчёты
</a>
</section>
</section>

<div class="dashboard-wrapper">
    <div class="chart-container">
        <h2>Бронирования по месяцам</h2>
        <canvas id="monthlyBookingsChart"></canvas>
    </div>

    <div class="chart-container">
        <h2>Статусы бронирований</h2>
        <canvas id="statusChart"></canvas>
    </div>

    <div class="chart-container">
        <h2>Топ-5 залов по бронированиям</h2>
        <canvas id="topHallsChart"></canvas>
    </div>

    <div class="chart-container">
        <h2>Общее количество гостей по месяцам</h2>
        <canvas id="guestsChart"></canvas>
    </div>
</div>

<script src="/script/p_admin/stats.js"></script>
</body>
</html>
